h4{
    font-weight: 100;
    font-family: Poppins-light;
    padding: 2% 0 0 10%;
    
}
p {
    letter-spacing: 1.5pt;
    padding: 0 10% 2% ;
}
.textDiv{
    margin: 0 auto;
    position: relative;
    width: 95%;

}
.dataDivContainer{
    position: relative;
    width: 100%;

    height: fit-content;
    display: flex;
    flex-direction: column;
}

.dataDiv{
    width:100%;
    height: fit-content;
}
.dataDiv span {
    font-family: Poppins-Medium;

}
.bordertop{
    outline: #454552 solid 1px;
}

.divEduc{
    width: 90%;
    margin:auto;
}


