h4{
    font-weight: 100;
    font-family: Poppins-light;
    padding: 2% 0 0 10%;
    
}
p {
    letter-spacing: 1.5pt;
    padding: 0 10% 2% ;
}
.textDiv{
    margin: 0 auto;
    position: relative;
    width: 95%;
    /* height: min-content; */
}
.dataDivContainer{
    position: relative;
    width: 100%;
    /* background-color: green; */
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.dataDiv{
  
    /* background-color: orange; */
    width:100%;
    height: fit-content;
}
.dataDiv span {
    font-family: Poppins-Medium;

}
.bordertop{
    outline: #454552 solid 1px;
}

.divEduc{
    width: 90%;
    margin:auto;
}


@media screen and (min-width: 1025px) {
    .dataDivContainer{
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }
    .dataDiv{
        width:50%;
        height: fit-content;
    }   
    .borderRight{
        border-right:#454552 solid 1px ;
    }
    .borderleft{
        border-left: rgb(34, 32, 32) solid 1px;
    }
    .bordertop{
        outline: #454552 solid 1px;
    }
    .boxshadow{
        box-shadow: palegreen 0px 0px 100000px;
    }
}