<div class="card borderRadius borderleft boxshadow">
    <!-- header -->
    <div class="header borderBottom">
                <h3 class="yellowgreenColor Poppins-medium">
                    <span class="fas fa-address-card iconColor letterSpacing grayColor"></span>
                        About
                    <span class="whiteColor">Jess</span>
                </h3>
    </div>
    <!-- text Intro-->
    <div class=" textDiv ">
        <br>
            <p  class="Poppins-light letterSpacing yellowgreenColor">Hello Im 
                <span class="whiteColor">Jesssss!</span>
            </p>
        <p class="Poppins-light whiteColor ">
            {{aboutMe.intro}}
        </p>
    </div>
    <div class="dataDivContainer Poppins-light bordertop">
        <div class = "dataDiv ">
            <p class="whiteColor">
                <span class=" yellowgreenColor">BIRTHDAY:</span>{{aboutMe.birthday}}
            </p>
            <p class="whiteColor">
                <span class=" yellowgreenColor">AGE:</span> {{aboutMe.age}}
            </p>
        </div>
        <div class = "dataDiv bordertop">
            <p class="whiteColor">
                <Span class=" yellowgreenColor">ADDRESS:</Span> {{aboutMe.address}}
            </p>
            <p class="whiteColor">
                <Span class=" yellowgreenColor">NATIONALITY:</Span> {{aboutMe.nationality}}
            </p>      
        </div>
    </div>

<!-- Education -->
    <div class="header border " style="z-index: 5000;">
        <h3 class="yellowgreenColor Poppins-medium">
            <span class="fas fa-user-graduate iconColor letterSpacing grayColor"></span>
                Educational
            <span class="whiteColor">Background</span>
        </h3>
    </div>

    <div class=" Poppins-light whiteColor">
       <div class="borderBottom divEduc">
        <p class="yellowgreenColor">
            TERTIARY
        </p>
        <ul>
            <li>
                <span class="grayTextColor"> University Of Perpetual Help System Laguna </span><br>
                Bachelor of Science in Computer Science <br>
                Batch 2019
            </li>
        </ul>
       </div>
       <div class="borderBottom divEduc">
        <p class="yellowgreenColor">
            SECONDARY
        </p>
        <ul>
            <li>
                <span class="grayTextColor"> Sacred Heart Academy </span><br>
                Secondary Education <br>
                Batch 2015
            </li>
        </ul>
       </div>
       <div class="borderBottom divEduc">
        <p class="yellowgreenColor">
            PRIMARY
        </p>
        <ul>
            <li>
                <span class="grayTextColor"> Sacred Heart Academy </span><br>
                Primary Education <br>
                Batch 2011
            </li>
        </ul>
       </div>
    </div>
    <br>
    <div class="header border " style="z-index: 5000;">
        <h3 class="yellowgreenColor Poppins-medium">
            <span class="fas fa-user-graduate iconColor letterSpacing grayColor"></span>
                Educational
            <span class="whiteColor">Background</span>
        </h3>
    </div>
    <div style="height: 100vh;">
    
    </div>
</div>

