<div class="card borderRadius borderleft boxshadow">
    <!-- header -->
    <div class="header borderBottom">
                <h3 class="yellowgreenColor Poppins-medium">
                    <span class="fas fa-address-card iconColor letterSpacing grayColor"></span>
                        About
                    <span class="whiteColor">Jess</span>
                </h3>
    </div>
    <!-- text Intro-->
    <div class=" textDiv ">
            <h3  class="Poppins-medium yellowgreenColor letterSpacing">Hello Im 
                <span class = "whiteColor">Jess!</span>
            </h3>
        <p class="Poppins-light grayTextColor ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis pellentesque 
            dolor at sagittis. Vivamus porttitor metus id nulla pharetra, sed iaculis velit tristique.
            Maecenas fermentum interdum condimentum. Praesent vel turpis at eros accumsan efficitur 
            quis quis lacus. Sed ut tortor ut mauris cursus facilisis sit amet sit amet ante.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis pellentesque 
            dolor at sagittis. Vivamus porttitor metus id nulla pharetra, sed iaculis velit tristique.
            Maecenas fermentum interdum condimentum. Praesent vel turpis at eros accumsan efficitur 
            quis quis lacus. Sed ut tortor ut mauris cursus facilisis sit amet sit amet ante.
        </p>
    </div>
    <div class="dataDivContainer Poppins-light bordertop">
        <div class = "dataDiv ">
            <p>
                <span>BIRTHDAY:</span>{{aboutMe.birthday}}
            </p>
            <p>
                <span>AGE:</span> {{aboutMe.age}}
            </p>
        </div>
        <div class = "dataDiv bordertop">
            <p>
                <Span>ADDRESS:</Span> {{aboutMe.address}}
            </p>
            <p>
                <Span>NATIONALITY:</Span> {{aboutMe.nationality}}
            </p>      
        </div>
    </div>
    <br>
  
    <div class="header border">
        <h3 class="yellowgreenColor Poppins-medium">
            <span class="fas fa-user-graduate iconColor letterSpacing grayColor"></span>
                Educational
            <span class="whiteColor">Background</span>
        </h3>
    </div>
    <div style="height: 100vh;">
    
    </div>
</div>

