<div class="card borderRadius">
    <!-- header -->
    <div class="header borderBottom">
                <h2 class="yellowgreenColor Poppins-medium">
                    <span class="fas fa-address-card iconColor letterSpacing grayColor"></span>
                        About
                    <span class="whiteColor">me</span>
                </h2>
    </div>
    <!-- text Intro-->
    <div class=" textDiv borderBottom">
            <h3  class="Poppins-medium yellowgreenColor letterSpacing">Hello Im 
                <span class = "whiteColor">Jess!</span>
            </h3>
        <p class="Poppins-light grayTextColor ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis pellentesque 
            dolor at sagittis. Vivamus porttitor metus id nulla pharetra, sed iaculis velit tristique.
             Maecenas fermentum interdum condimentum. Praesent vel turpis at eros accumsan efficitur 
             quis quis lacus. Sed ut tortor ut mauris cursus facilisis sit amet sit amet ante.
        </p>
    </div>
    <div class="dataDivContainer Poppins-light">
        <div class = "dataDiv">
            <p>
                <span>BIRTHDAY:</span> February 17, 1998
            </p>
            <p>
                <span>AGE:</span> 23
            </p>
        </div>
        <div class = "dataDiv">
            <p>
                <Span>ADDRESS:</Span> Gloria, Oriental Mindoro
            </p>
            <p>
                <Span>NATIONALITY:</Span> Indian Kana
            </p>
                
        </div>
    </div>

</div>
