<div class="sidePanel borderRadius figure">
    <div class ="imageContainer  zoomIn figure">
             <img [src]="backgroundImage" alt="" >  
    </div>
    <div class="blockerContainter">
        
    </div>
    <div class="blockContainer2"></div>
    <div class="imageProfileContainer figure">
        <img [src]="profilePic" alt="">
    </div>
    <div class="nameContainer">
        <h1 class="Poppins-medium">
            Jessriel Jamilla
        </h1>
        <h3 class="Poppins-light letterSpacing">
            Aspiring <span class="whiteColor">Web Developer</span>
        </h3>
    </div>
    <div class = "socMed">
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin"></i>
    </div>
    <div>
        
    </div>
</div>
