@media screen and (min-width: 1024px) {

    .container {
        align-content: center;
        display: flex;
        width: fit-content;
        height: 100%;
    }
    .positionRelative{
        position: relative;
    }
    .margin{
        margin: auto;
    }
  
    .zindex{
        z-index: 100;
    }

    .verticalCenter{
        margin: auto;
    }

}
.dsiplay{
    display: block;
}
.displayNone{
    display: none;
}