<div class="container grayTextColor Poppins-light menuBarsize">
    <div class="menuItem">
        <div class="insideContainer">
            <i class="fas fa-user fa-2x"></i>
           
           <p>About</p>
        </div>
    </div>
    <div class="menuItem">
        <div class="insideContainer">
            <i class="far fa-file fa-2x"></i>
           <p>Resume</p>
        </div>
    </div>
    <div class="menuItem">
        <div class="insideContainer">
            <i class="fas fa-at fa-2x"></i>
           <p>Contact</p>
        </div>
    </div>
</div>