@font-face {
    font-family: Proxima ;
    src: url(/assets/fonts/ProximaNovaFont.otf) format('truetype');
}
@font-face {
    font-family: Poppins-light;
    src: url(/assets/fonts/Poppins/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: Poppins-medium;
    src: url(/assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

.Poppins-light{
    font-family: Poppins-light;
}
.Poppins-medium{
    font-family: Poppins-medium;
}
.proxima{
    font-family: Proxima;
}

.borderRadius{
    border-radius: 1%;
}
.whiteColor{
    color:white;
}
.yellowgreenColor{
    color: greenyellow;
}
.grayColor{
    color: #454552;
    
}
.grayTextColor{
    color: #afafaf;
    
}
.dummyBackground{
    background-color: yellowgreen;
}
.borderBottom{
    border-bottom:#454552 solid 1px ;
}
.iconColor{
    padding: 1px 2px 1px;
    background: rgb(173,255,47);
    /* background: linear-gradient(90deg, rgba(173,255,47,1) -10%, rgba(0,0,0,0) 80%); */
}
.letterSpacing {
    letter-spacing: 1pt;
}
.borderRight{
    border-right:#454552 solid 1px ;
}
.border{
   outline: #454552 solid 1px;
}
/*scrollbar */
::-webkit-scrollbar{
 width: 5px;       
}
::-webkit-scrollbar-thumb{
    background-color: slategray;
 
}
h3{
    padding-top: 10px;
    margin-left: 5%;
    font-weight: 100;

  
}
ul{
    list-style:none;
    padding-left: 40pt;
    margin-top: -10pt;
}
ul li::before {
    content: ">";
    color: #9acd32;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.textAlignJustify{
    text-align: justify;
    text-justify: inter-word;
}
.marginAuto{
    margin: auto;
}
html, body {
    height: 99%;
  }
.menupadding{
    padding-right: 5px;
}

.card{
    position: relative;
    background-color: #31313a;
    width:100%;
    height: max-content;
    padding-bottom: 2%;
}
.icon{
    position: relative;
    top:5px;
    left:5%;

}

@media screen and (min-width: 1025px) {
    .card{
        position: relative;
        background-color: #31313a;
      
        width:500px;
        height: 500px;
        padding-bottom: 2%;
        overflow: auto;
    } 
    .header {
        width: 100%;
        height: 50px;
        position: sticky;
        top: -1px;
        margin-top: -40px;
        background-color: #31313a;
        z-index: 4;
    }
    .dataDivContainer{
        position: relative;
        width: 100%;
  
        height: fit-content;
        display: flex;
        flex-direction: row;
        
    }
    .dataDiv{
        width:50%;
        height: fit-content;
    }   
    .borderRight{
     
        border-right:#454552 solid 1px ;
    }
    .borderleft{
        border-left: rgb(34, 32, 32) solid 1px;
    }
    .bordertop{
        outline: #454552 solid 1px;
    }
    .boxshadow{
        box-shadow: palegreen 0px 0px 100000px;
    }
}